<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PY Flask Groovy Monkey</title>
</head>
<body><center>
    <img src="https://img.freepik.com/free-photo/view-funny-monkey-human-clothing_23-2150758506.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1725235200&semt=ais_hybrid" alt="Groovy Monkey">
    <br>
    <a href="http://127.0.0.1:5000/watermelon">Watermelon</a>
    <a href="">Groovy Monkey</a>
    <a href="http://127.0.0.1:5000/cat">WTF Cat</a>
</center>
</body>
</html>