<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PY Flask WTF Cat</title>
</head>
<body><center>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/028/607/729/small_2x/funny-surprised-cat-with-a-questioning-pose-a-cute-kitten-asks-in-surprise-where-the-treats-are-generated-ai-photo.jpg" alt="Cat">
    <br>
    <a href="http://127.0.0.1:5000/watermelon">Watermelon</a>
    <a href="http://127.0.0.1:5000/monkey">Groovy Monkey</a>
    <a href="">WTF Cat</a>
</center>
</body>
</html>